<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TrashCareDashboardApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrashCareDashboard"
        tools:targetApi="31">
        <activity
            android:name=".ui.tacampaign.TaCampaignDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tacampaign.TaCampaignActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tacycle.TaCycleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tacycle.TaCycleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tacommerce.TaCommerceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tacommerce.TaCommerceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>